/inverted-pendulum.docx
/inverted-pendulum.html
/inverted-pendulum.md
/inverted-pendulum.pdf
/inverted-pendulum.rst
/inverted-pendulum2.docx
/inverted-pendulum3.docx
/inverted-pendulum4.docx
/inverted-pendulum_files